# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\POO\Laborator6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
